---
import BaseHead from "../components/BasedHead.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"GDSC UEC - Home"} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-gray-700"> </body>
</html>
