---
import BaseHead from "../components/BasedHead.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Tech from "../components/Tech.astro";
import LandingProjects from "../components/LandingProjects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"Kurt Calacday"} description={SITE_DESCRIPTION} />
  </head>

  <body class="text-gray-700 antialiased">
    <main transition:animate="slide">
      <Header />
      <Hero />
      <About />
      <Tech />
      <LandingProjects />
      <Contact />
      <Footer />
    </main>
  </body><!-- Dark Mode Script -->
  <script>
    var themeToggleDarkIcon = document.getElementById("theme-toggle-dark-icon");
    var themeToggleLightIcon = document.getElementById(
      "theme-toggle-light-icon",
    );
    var themeToggleBtn = document.getElementById("theme-toggle");

    // Ensure the elements exist before trying to manipulate them
    if (themeToggleDarkIcon && themeToggleLightIcon && themeToggleBtn) {
      // Change the icons inside the button based on previous settings
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        themeToggleLightIcon.classList.remove("hidden");
      } else {
        themeToggleDarkIcon.classList.remove("hidden");
      }

      themeToggleBtn.addEventListener("click", function () {
        // toggle icons inside button
        themeToggleDarkIcon?.classList.toggle("hidden");
        themeToggleLightIcon?.classList.toggle("hidden");

        // toggle theme in local storage
        if (localStorage.theme === "light") {
          document.documentElement.classList.add("dark");
          localStorage.theme = "dark";
        } else {
          document.documentElement.classList.remove("dark");
          localStorage.theme = "light";
        }
      });
    }
  </script>
</html>
