---
import BaseHead from "../components/BasedHead.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Tech from "../components/Tech.astro";
import LandingProjects from "../components/LandingProjects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={"Kurt Calacday"} description={SITE_DESCRIPTION} />
  </head>

  <body class="text-gray-700 antialiased">
    <main transition:animate="slide">
      <Header />
      <Hero />
      <About />
      <Tech />
      <LandingProjects />
      <Contact />
      <Footer />
    </main>
  </body>
</html>
