---
import { Image } from "astro:assets";
import Project from "../../../assets/Projects/2023/talaan.png";
---

<div
  class="relative bg-white border rounded-xl p-2 border-gray-200 shadow-sm dark:bg-gray-800 dark:border-gray-700 ring-2 ring-black/5 bg-transparent backdrop-filter backdrop-blur-md bg-opacity-5 isolate">
  <div class="p-0.5 flex justify-center">
    <a href="https://github.com/KurutoDenzeru/talaan-laravel-blog-app">
      <Image
        src={Project}
        alt="Project"
        loading="eager"
        class="w-auto h-auto rounded-md"
      />
    </a>
  </div>

  <div class="px-4 pb-3 py-2">
    <div>
      <a href="https://github.com/KurutoDenzeru/talaan-laravel-blog-app">
        <h5
          class="text-xl py-2 font-semibold tracking-tight hover:text-violet-800 dark:hover:text-violet-300 text-gray-900 dark:text-white">
          Talaan - Laravel Organization Blog Application
        </h5>
      </a>

      <p class="antialiased text-gray-600 dark:text-gray-400 text-base">
        Dynamic Laravel-powered blog application enhanced with Tailwind,
        providing users with a seamless and visually appealing platform for
        crafting and administering blogs effortlessly.
      </p>
    </div>
  </div>
</div>
