---
import { Image } from "astro:assets";
import manVR from "../assets/author.png";
import topRightCylinder from "../assets/clock.webp";
import bottomRightCylinder from "../assets/bottom-right-cylinder.svg";
import bottomLeftCircle from "../assets/luckyblock.webp";
---

<section class="bg-white dark:bg-gray-900 py-32" id="kurt-contact">
  <div
    class="max-w-screen-xl mx-auto px-14 sm:px-12 lg:gap-16 grid grid-cols-1 lg:grid-cols-2 items-center gap-8">
    <div class="mt-4 md:mt-0 order-2 lg:order-none">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-start dark:text-white">
        Contact me
      </h2>

      <form action="" class="mt-6 flex flex-col space-y-4" id="contact-form">
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Email:</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="juandelacruz@gmail.com"
            required
          />
        </div>
        <div>
          <label
            for="subject"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Subject:</label
          >
          <input
            type="text"
            id="subject"
            name="subject"
            class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="Let me know how I can help you!"
            required
          />
        </div>
        <div class="sm:col-span-2">
          <label
            for="message"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
            >Message:</label
          >
          <textarea
            id="message"
            name="message"
            rows="6"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Leave a comment..."></textarea>
        </div>
        <div class="flex justify-start">
          <button
            type="submit"
            class="flex items-center justify-center px-6 text-md bg-purple-900 py-2 text-white text-base font-medium rounded shadow-sm hover:bg-purple-950 transition-all">
            Send Message
          </button>
        </div>
      </form>
    </div>

    <div class="relative order-1 lg:order-none">
      <Image
        src={manVR}
        alt="Man with VR headset"
        class="w-100 h-auto motion-safe:animate-[floating_2s_ease-in-out_infinite]"
      />

      <Image
        src={topRightCylinder}
        alt="Man with VR headset"
        class="absolute top-0 right-0 w-[25%] h-auto motion-safe:animate-[floating_3s_ease-in-out_infinite] delay-100"
      />

      <Image
        src={bottomRightCylinder}
        alt="Man with VR headset"
        class="absolute bottom-0 right-[10%] w-[30%] h-auto motion-safe:animate-[floating_4s_ease-in-out_infinite] delay-150"
      />

      <Image
        src={bottomLeftCircle}
        alt="Man with VR headset"
        class="absolute bottom-[10%] left-0 w-[30%] h-auto motion-safe:animate-[floating_5s_ease-in-out_infinite] delay-75 origin-bottom-left"
      />
    </div>
  </div>
</section>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
></script>
<script type="text/javascript">
  const public_key = import.meta.env.EMAILJS_PUBLIC_KEY;
  (function () {
    emailjs.init(public_key);
  })();
</script>
<script type="text/javascript">
  const contactForm = document.getElementById("contact-form");
  const service_id = import.meta.env.EMAILJS_SERVICE_ID;
  const template_id = import.meta.env.EMAILJS_TEMPLATE_ID;

  window.onload = function () {
    contactForm.addEventListener("submit", function (event) {
      event.preventDefault();

      emailjs.sendForm(service_id, template_id, this).then(
        function () {
          contactForm.reset();
          console.log("Email Sent Succesfully!");
        },
        function (error) {
          console.log("Failed: ", error);
        }
      );
    });
  };
</script>
