---
import { Image } from "astro:assets";
import VueRegWizard from "./Projects/2024/VueRegWizard.astro";
import ChromaticAlchemy from "./Projects/2024/ChromaticAlchemy.astro";
import PasswordForge from "./Projects/2024/PasswordForge.astro";
import ResumeForge from "./Projects/2024/ResumeForge.astro";
import SKCloserAI from "./Projects/2024/SKCloserAI.astro";
import MJCTDSS from "./Projects/2024/MJCTDSS.astro";

import Seemore from "./Seemore.astro";
---

<section class="bg-white py-32 dark:bg-gray-900" id="kurt-projects">
  <div class="mx-auto px-8 max-w-7xl sm:px-12">
    <h1
      class="text-start lg:text-start font-bold text-3xl sm:text-4xl leading-none mb-6 dark:text-white">
      Projects
    </h1>

    <div
      class="mt-8 grid grid-cols-1 gap-6 md:grid-cols-3"
      id="frameworks-integration">
      <VueRegWizard />
      <ChromaticAlchemy />
      <PasswordForge />
      <ResumeForge />
      <SKCloserAI />
      <MJCTDSS />
    </div>

    <Seemore />
  </div>
</section>
