---
import { Image } from "astro:assets";
import Portfolio from "../../src/components/Projects/Portfolio.astro";
import OJTFinder from "../../src/components/Projects/OJTFinder.astro";
import Accred from "../../src/components/Projects/Accred.astro";
import GDSCWebsite from "../../src/components/Projects/GDSCWebsite.astro";

import Caminos from "../../src/components/Projects/Caminos.astro";
import Talaan from "../../src/components/Projects/Talaan.astro";
import Yardhouse from "../../src/components/Projects/Yardhouse.astro";
import SmartXam from "../../src/components/Projects/SmartXam.astro";

import VarBeauty from "../../src/components/Projects/VarBeauty.astro";
import PawVet from "../../src/components/Projects/PawVet.astro";
import Mamits from "../../src/components/Projects/Mamits.astro";

import Seemore from "../components/Seemore.astro";
---

<section class="bg-white py-32 px-8 dark:bg-gray-900" id="kurt-projects">
  <div class="mx-auto px-8 max-w-7xl">
    <h1
      class="text-start lg:text-start font-bold text-3xl sm:text-4xl leading-none mb-6 dark:text-white">
      Projects
    </h1>

    <div
      class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-4"
      id="frameworks-integration">
      <Portfolio />
      <OJTFinder />
      <Accred />
      <GDSCWebsite />
      <Caminos />
      <Talaan />
      <Yardhouse />
      <SmartXam />
      <VarBeauty />
      <PawVet />
      <Mamits />
    </div>
  </div>
</section>
