---
import { Image } from "astro:assets";
import SKCloserAI from "./Projects/2024/SKCloserAI.astro";

import MJCTDSS from "./Projects/2024/MJCTDSS.astro";
import SKOJTWebsite from "./Projects/2024/SKOJTWebsite.astro";
import Portfolio from "./Projects/2024/Portfolio.astro";
import OJTFinder from "./Projects/2024/OJTFinder.astro";

import Accred from "./Projects/2023/Accred.astro";
import GDSCWebsite from "./Projects/2023/GDSCWebsite.astro";
import Caminos from "./Projects/2023/Caminos.astro";
import Talaan from "./Projects/2023/Talaan.astro";
import Yardhouse from "./Projects/2023/Yardhouse.astro";

import SmartXam from "./Projects/2022/SmartXam.astro";
import VarBeauty from "./Projects/2022/VarBeauty.astro";
import PawVet from "./Projects/2022/PawVet.astro";
import Mamits from "./Projects/2022/Mamits.astro";

import Seemore from "../components/Seemore.astro";
---

<section class="bg-white py-32 px-8 dark:bg-gray-900" id="kurt-projects">
  <div class="mx-auto px-8 max-w-7xl">
    <h1
      class="text-start lg:text-start font-bold text-3xl sm:text-4xl leading-none mb-6 dark:text-white">
      Projects
    </h1>

    <div
      class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-4"
      id="frameworks-integration">
      <SKCloserAI />
      <MJCTDSS />
      <SKOJTWebsite />
      <Portfolio />
      <OJTFinder />
      <Accred />
      <GDSCWebsite />
      <Caminos />
      <Talaan />
      <Yardhouse />
      <SmartXam />
      <VarBeauty />
      <PawVet />
      <Mamits />
    </div>
  </div>
</section>
