---
import { Image } from "astro:assets";
// 2024 Projects
import VueRegWizard from "./Projects/2024/VueRegWizard.astro";
import ChromaticAlchemy from "./Projects/2024/ChromaticAlchemy.astro";
import PasswordForge from "./Projects/2024/PasswordForge.astro";
import ResumeForge from "./Projects/2024/ResumeForge.astro";
import SKCloserAI from "./Projects/2024/SKCloserAI.astro";
import MJCTDSS from "./Projects/2024/MJCTDSS.astro";
import SKOJTWebsite from "./Projects/2024/SKOJTWebsite.astro";
import Portfolio from "./Projects/2024/Portfolio.astro";
import OJTFinder from "./Projects/2024/OJTFinder.astro";

// 2023 Projects
import Accred from "./Projects/2023/Accred.astro";
import GDSCWebsite from "./Projects/2023/GDSCWebsite.astro";
import Caminos from "./Projects/2023/Caminos.astro";
import Talaan from "./Projects/2023/Talaan.astro";
import Yardhouse from "./Projects/2023/Yardhouse.astro";

// 2022 Projects
import SmartXam from "./Projects/2022/SmartXam.astro";
import Mamits from "./Projects/2022/Mamits.astro";
import Hamdoption from "./Projects/2022/Hamdoption.astro";
import Nature from "./Projects/2022/Nature.astro";
import VarArts from "./Projects/2022/VarArts.astro";
import Trendz from "./Projects/2022/Trendz.astro";
import CENewsFlash from "./Projects/2022/CENewsFlash.astro";

// 2021 Projects
import VarBeauty from "./Projects/2021/VarBeauty.astro";
import PawVet from "./Projects/2021/PawVet.astro";
---

<section class="bg-white py-32 dark:bg-gray-900" id="kurt-projects">
  <div class="mx-auto px-8 max-w-7xl sm:px-12">
    <h1
      class="text-start lg:text-start font-bold text-3xl sm:text-4xl leading-none mb-6 dark:text-white">
      Projects
    </h1>

    <div
      class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-3 sm:grid-cols-2"
      id="frameworks-integration">
      <!-- 2024 Projects -->
      <VueRegWizard />
      <ChromaticAlchemy />
      <PasswordForge />
      <ResumeForge />
      <SKCloserAI />
      <MJCTDSS />
      <SKOJTWebsite />
      <Portfolio />
      <OJTFinder />
      <!-- 2023 Projects -->
      <Accred />
      <GDSCWebsite />
      <Caminos />
      <Talaan />
      <Yardhouse />
      <!-- 2022 Projects -->
      <SmartXam />
      <Mamits />

      <Nature />
      <VarArts />
      <Trendz />
      <Hamdoption />
      <CENewsFlash />
      <!-- 2021 Projects -->
      <VarBeauty />
      <PawVet />
    </div>
  </div>
</section>
