<div class="flex justify-end py-12">
  <a
    href="/Projects"
    class="flex items-center justify-center px-6 text-md bg-purple-900 py-2 text-white text-base font-medium rounded shadow-sm hover:bg-purple-950 transition-all">
    See more...
  </a>
</div>
