<section class="bg-white dark:bg-gray-900 antialiased">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
    <div class="max-w-2xl mx-auto text-start">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-start dark:text-white"
      >
        Contact Me
      </h2>
    </div>

    <div
      class="grid grid-cols-1 mt-12 text-center sm:mt-16 gap-x-20 gap-y-12 sm:grid-cols-2 lg:grid-cols-3"
    >
      <div class="space-y-4">
        <h3
          class="text-2xl font-bold leading-tight text-gray-900 dark:text-white"
        >
          Official website
        </h3>
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
          Flowbite helps you connect with friends, family and communities of
          people who share your interests.
        </p>
      </div>

      <div class="space-y-4">
        <h3
          class="text-2xl font-bold leading-tight text-gray-900 dark:text-white"
        >
          Management system
        </h3>
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
          Flowbite helps you connect with friends, family and communities of
          people who share your interests.
        </p>
      </div>

      <div class="space-y-4">
        <h3
          class="text-2xl font-bold leading-tight text-gray-900 dark:text-white"
        >
          Logo design
        </h3>
        <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
          Flowbite helps you connect with friends, family and communities of
          people who share your interests.
        </p>
      </div>
    </div>
  </div>
</section>
