<section class="bg-white pb-32 pt-10 dark:bg-gray-900" id="about-mission">
  <div class="max-w-7xl mx-auto px-8 sm:px-12">
    <h1
      class="text-start lg:text-start font-bold text-3xl sm:text-4xl leading-none mb-6 dark:text-white">
      Tech Stack
    </h1>

    <div
      class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-3 xl:gap-x-8 content-center items-center">
      <div class="group relative">
        <div
          class="w-full overflow-hidden rounded-lg lg:aspect-none lg:h-auto bg-white border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
          <div class="p-5 py-14 items-center content-center text-start">
            <h1
              class="text-start lg:text-start font-bold text-3xl sm:text-4xl leading-none mb-6 dark:text-white">
              Tools
            </h1>

            <ul
              class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
              <li>Goddot Game Engine</li>
              <li>Oh My ZSH / Unix Bash Terminal</li>
              <li>AWS / Firebase / Vercel / Netlify</li>
              <li>Visual Studio Code / Community</li>
              <li>Git / Github Desktop / Gitkraken</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="group relative">
        <div
          class="w-full overflow-hidden rounded-lg lg:aspect-none lg:h-auto bg-white border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
          <div class="p-5 py-14 items-center content-center text-start">
            <h1
              class="text-start lg:text-start font-bold text-3xl sm:text-4xl leading-none mb-6 dark:text-white">
              Frameworks
            </h1>

            <ul
              class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
              <li>React.js / Next.js</li>
              <li>Laravel / Wordpress</li>
              <li>Astro.js / Vue.js / Svelete</li>
              <li>Typescript / jQuery / NodeJS</li>
              <li>Tailwind / Shadcn/ui / Bootstrap</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="group relative">
        <div
          class="w-full overflow-hidden rounded-lg lg:aspect-none lg:h-auto bg-white border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
          <div class="p-5 py-14 items-center content-center text-start">
            <h1
              class="text-start lg:text-start font-bold text-3xl sm:text-4xl leading-none mb-6 dark:text-white">
              Languages
            </h1>

            <ul
              class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
              <li>PHP</li>
              <li>Java</li>
              <li>Python</li>
              <li>C# / .NET / ASP.NET</li>
              <li>Javascript / Typescript</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
